integrations:
- name: nri-jmx
  env:
    COLLECTION_FILES: "C:\\Program Files\\New Relic\\newrelic-infra\\integrations.d\\jvm-metrics.yml"
    JMX_HOST: jmx-host.localnet
    JMX_PASS: admin
    JMX_PORT: "9999"
    JMX_USER: admin
    NR_JMX: "C:\\Program Files\\New Relic\\nrjmx\\nrjmx.bat"

    # New users should leave this property as `true`, to identify the
    # monitored entities as `remote`. Setting this property to `false` (the
    # default value) is deprecated and will be removed soon, disallowing
    # entities that are identified as `local`.
    # Please check the documentation to get more information about local
    # versus remote entities:
    # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
    REMOTE_MONITORING: "true"
  interval: 15s
  labels:
    env: staging
